body {
  background-color: rgba(22, 21, 21, 0.5);
}
.preloader::after {
  position: absolute;
  top: 0;
  bottom: 4%;
  right: 0;
  left: 0;
  content: " ";
  display: block;
  margin: auto;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: solid;
  border-width: 14px;
  border-radius: 50%;
  border-top-color: rgba(21, 52, 22, 1);
  border-bottom-color: rgba(21, 52, 22, 1);

  border-right-color: rgb(58, 83, 58);
  border-left-color: rgb(58, 83, 58);
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
